**1-Write a Python program to calculate the length of a string using 2 ways

In [ ]:
string1=input("enter string: ")
length=0
for s in string1:
  length+=1
print (length)

enter string: mohamed
7

In [ ]:
string1=input("enter string: ")
print("length of string is :",len(string1))

enter string: mohamed
length of string is : 7

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [ ]:
string2=input("enter string: ")
if(len(string2)>= 2):
  result=string2[0:2]+string2[-2:]
else:
  result="' '"
print(result)

enter string: eleven
elen

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [ ]:
mystr=input("enter string: ")
if len(mystr)>=3:
  if mystr[-3:] == "ing":
    mystr=mystr.replace("ing","ly")
  elif mystr[-3:]!="ing":
    mystr=mystr+"ing"
print(mystr)

enter string: playing
playly

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [ ]:
lst=["mohamed","playing","football","gym","laptop"]
max_index=0
for i in range(len(lst)):
  if(len(lst[i])>len(lst[max_index])):
    max_index=i
print("longest word: ", lst[max_index])
print("length of longest word: ", len(lst[max_index]))

longest word:  football
length of longest word:  8

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [ ]:
string4=input("enter string: ")
lst=list(string4)
lst[0],lst[-1]=lst[-1],lst[0]
string4="".join(lst)
print(string4)

enter string: dreams
sreamd

In [3]:
string4=input("enter string: ")
string4=string4[-1]+string4[1:-1]+string4[0]
print(string4)

enter string: abcd
dbca

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [ ]:
mystr=input("enter string : ")
result_string=""
for i in range(len(mystr)):
  if(i%2==0):
    result_string=result_string+mystr[i]
print(result_string)

enter string : mohamed
mhmd

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [5]:
mystr=input("enter line :")
word=input("enter word to detect: ")
mystr=mystr.split()
result=0
for i in mystr:
  if(i == word):
    result+=1
print("result: ",result)

enter line :amr and ahmed are frindes but amr is the tallest
enter word to detect: amr
result:  2

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [ ]:
mystr=input("enter string: ")
upper_string=mystr.upper()
lower_string=mystr.lower()
print("upper case: ",upper_string)
print("lower case: ",lower_string)

enter string: My name is Mohamed
upper case:  MY NAME IS MOHAMED
lower case:  my name is mohamed

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [ ]:
mystr=input("enter string: ")
if(len(mystr)%4==0):
  mystr=mystr[::-1]
print(mystr)

enter string: abcd
dcba

**10- Write a Python program to remove a newline in Python

In [ ]:
mystr=input("enter line: ")
mystr=mystr.replace("\\n","")
print(mystr)

enter line: mohamed\n is good\n person
mohamed  is good  person

**11-Write a Python program to check whether a string starts with specified characters

In [ ]:
mystr=input("enter string: ")
l=input("enter the char if to check if it start with it or not: ")
if (mystr[0]==l):
  print(f"yes {mystr} start with {l} ")
else:
  print(f"no {mystr} does not start with {l} ")

enter string: mohamed
enter the char if to check if it start with it or not: a
no mohamed does not start with a

**12- Write a Python program to add prefix text to all of the lines in a string

In [ ]:
mystr=input("enter string: ",end ="")
print(mystr)

enter string:  my name is mohaed\n im 20 years old\\nn nice to meet you
 my name is mohaed\n im 20 years old\\nn nice to meet you

**13-Write a Python program to print the following numbers up to 2 decimal places

In [ ]:
num=float(input("enter number: "))
print(round(num,2))

enter number: 5.17893
5.18

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [16]:
num=100.365621
print(f"{num:+.2f}")

+100.37

**15-Write a Python program to display a number with a comma separator

In [15]:
num=100000000
print(f"{num:,}")

100,000,000

**16-Write a Python program to reverse a string using 2 ways

In [ ]:
mystr=input("enter string: ")
mystr=mystr[::-1]
print(mystr)

enter string: abv
vba

In [ ]:
mystr=input("enter string: ")
i=len(mystr)-1
new_str=""
while(i>=0):
  new_str=new_str+mystr[i]
  i=i-1
mystr=new_str
print(mystr)

enter string: abc!
!cba

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [ ]:
mystr="banana"
mydict={}
for s in mystr:
  if(s not in mydict.keys()):
    mydict[s]=1
  else:
    mydict[s]+=1
print(mydict)

{'b': 1, 'a': 3, 'n': 2}

**18-Write a Python program to find the first non-repeating character in a given string

In [ ]:
mystr="abcbaz"
mydict={}
for s in mystr:
  if(s not in mydict.keys()):
    mydict[s]=1
  else:
    mydict[s]+=1
for key ,value in mydict.items():
  if(value==1):
    print(key)
    break

c

**19-Write a Python program to remove spaces from a given string

In [ ]:
mystr="mohamed     leave   spaces"
mystr=mystr.replace(" ","")
print(mystr)

mohamedleavespaces

**20-Write a Python program to count the number of non-empty substrings of a given string

In [ ]:
mystr=""

**21-write a Python program to swap first and last element of any list.

In [ ]:
lst=[100,90,80,70]
lst[0],lst[-1]=lst[-1],lst[0]
print(lst)

[70, 90, 80, 100]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [ ]:
lst=[23,65,19,90]
pos1=int(input("enter the first position you want to swap: "))
pos2=int(input("enter the second position you want to swap: "))
if pos1<len(lst) and pos2<len(lst):
  lst[pos1],lst[pos2]=lst[pos2],lst[pos1]
else:
  print("the position out of range.")
print(lst)

enter the first position you want to swap: 9
enter the second position you want to swap: 2
the position out of range.
[23, 65, 19, 90]

**23- search for the all ways to know the length of the list

In [ ]:
**24-write a Python code to find the Maximum number of list of numbers.

In [ ]:
lst=[90,34,22,76,12,99]
print(max(lst))

99

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

In [ ]:
lst=[90,34,22,76,12,99]
print(min(lst))

12

**26-search for if an elem is existing in list

In [ ]:
lst=[90,34,22,76,12,99]
num=int(input("enter number you want to check: "))
if num in lst:
  print("the number exist in lst.")
else:
  print("the number does not exist in the lst")

enter number you want to check: 12
the number exist in lst.

**27- clear python list using different ways

In [ ]:
lst=[90,34,22,76,12,99]
lst.clear()
print(lst)

[]

In [ ]:
#second way to clear list
lst=[90,34,22,76,12,99]
while(lst):
  lst.pop()
print(lst)

[]

**28-remove duplicated elements from a list

In [ ]:
lst=[1,3,5,1,6,8,3,2,7,7]
lst=set(lst)
lst=list(lst)
print(lst)

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [20]:
test_list = ["Gfg", 3, "is", 8]
key_list = ["name", "id"]
lst2=[]
i=0
while(i<len(test_list)):
  mydict={key_list[0]:test_list[i],key_list[1]:test_list[i+1]}
  i+=2
  lst2.append(mydict)
print(lst2)

[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

**30-write a python program to count unique values inside a list using different ways

In [38]:
lst=[1,4,2,1,5,7,5,1,3,6,3]
lst2=set(lst)
print("the number of unique values in lst: ",len(lst2))

the number of unique values in lst:  7

In [39]:
#second way to solve
lst=[1,4,2,1,5,7,5,1,3,6,3]
lst2=[]
for i in lst:
  if i not in lst2:
    lst2.append(i)
print("the number of unique values in lst: ",len(lst2))

the number of unique values in lst:  7

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3
Output : [4, 3] )

In [ ]:
 lst=[4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
 k=int(input("please enter K to extract number with frequency greater than it: "))
 mydict={}
 for i in lst:
  if i not in mydict:
    mydict[i]=1
  else:
    mydict[i]+=1
lst2=[]
for i in mydict.items():
  if i[1]>k:
    lst2.append(i[0])
print(lst2)

please enter K to extract number with frequency greater than it: 3
[4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [ ]:
lst=[5,6,1,3,8,2]
neighbor=[]
for i in range(len(lst)-1):
  neighbor.append(max(lst[i],lst[i+1]))
print(neighbor)

[6, 6, 3, 8, 8]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [37]:
digits = [1, 2, 3]

for i in digits:
    for j in digits:
        for k in digits:
            if i != j and j != k and i != k:
                print(f"{i} {j} {k}", end=" ## ")

1 2 3 ## 1 3 2 ## 2 1 3 ## 2 3 1 ## 3 1 2 ## 3 2 1 ##

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3]
Output:
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [40]:
test_list = [1, 2, 3]
result = []

for i in range(len(test_list)):
    for j in range(i + 1, len(test_list) + 1):
        result.append(test_list[i:j])

for item in result:
    print(item)

[1]
[1, 2]
[1, 2, 3]
[2]
[2, 3]
[3]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [ ]:
lst1=["a","b"]
lst2=[1,2]
lst3=[]
for i in lst1:
  for j in lst2:
    lst3.append((i,j))
print(lst3)

[('a', 1), ('a', 2), ('b', 1), ('b', 2)]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1

**Output : 2 3 4 5 2)

In [35]:
lst=[1,1,2,3,4,5,1,2,1]
lst2=[]
num=int(input("enter number to remove: "))
for i in (lst):
   if num==i:
      lst.remove(i)
if(lst[-1]==num):
  lst.pop()
print(lst)

enter number to remove: 1
[2, 3, 4, 5, 2]

 **37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [36]:
lst1=["Gfg", "is", "best"]
lst2=[0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
lst3=[]
for i in (lst2) :
  if(i>=0 and i<len(lst1)):
    lst3.append(lst1[i])
lst1=lst3
lst.clear()
print(lst1)

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3
Output : [] )

In [ ]:
lst=[(3,5,3,7,1,5),(9,1,9,4,3,2,6),(2,1,7,8,3,7),(9,9,4,2,3,3,3)]
lst2=[]
N=int(input("enter N: "))
K=int(input("enter K :"))

for i in range(len(lst)):
  count=0
  for j in range(len(lst[i])):
    if lst[i][j] ==N:
      count+=1
  if count==K:
    lst2.append(lst[i])
print(lst2)

enter N: 9
enter K :2
[(9, 1, 9, 4, 3, 2, 6), (9, 9, 4, 2, 3, 3, 3)]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:

lst= [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
lst=sorted(lst, key = lambda x :x[0])
print("sorted of column 0: ",lst)
lst=sorted(lst, key = lambda x :x[1])
print("sorted of column 1: ",lst)
lst=sorted(lst, key = lambda x :x[2])
print("sorted of column 2: ",lst)

sorted of column 0:  [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
sorted of column 1:  [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
sorted of column 2:  [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output:
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [ ]:
mydict={'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
my_sorted_dict=dict(sorted(mydict.items(),key=lambda x:x[1]))

print(my_sorted_dict)

{'yash': 2, 'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [ ]:
mydict={"CS":7,"AI":9,"IT":4,"IS":8,"medicine":12,"Engineer":9}
threshold=int(input("enter K value fro threshold: "))
Key=list(mydict.keys())
for k in Key:
  if(mydict[k] >= threshold):
    del mydict[k]
print(mydict)

enter K value fro threshold: 8
{'CS': 7, 'IT': 4}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4=dic1.copy()
dic4.update(dic2)
dic4.update(dic3)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [ ]:
mydict={"CS":7,"AI":9,"IT":4,"IS":8,"medicine":12,"Engineer":9}
for dic in mydict.items():
  print(dic)

('CS', 7)
('AI', 9)
('IT', 4)
('IS', 8)
('medicine', 12)
('Engineer', 9)

**44- Write a Python script to merge two Python dictionaries

In [42]:
d1 = {'x': 1, 'y': 2}
d2 = {'y': 3, 'z': 4}
d3={**d1,**d2}
print(d3)

{'x': 1, 'y': 3, 'z': 4}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [ ]:
mydict={"CS":7,"AI":9,"IT":4,"IS":8,"medicine":12,"Engineer":9}
myvalues=mydict.values()
print("the max value in the dictionary is:",max(myvalues))
print("the min value in the dictionary is:",min(myvalues))

the max value in the dictionary is: 12
the min value in the dictionary is: 4

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [ ]:
mydict= {'c1': 'Red',"c2":None ,'c3': 'Green', 'c4': None}
mydict={k: v for k ,v in mydict.items() if v!=None}
print(mydict)

{'c1': 'Red', 'c3': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [43]:
tp=(5,4,1,7,4)
i=int(input("enter index you to print: "))
print(tp[i])

enter index you to print: 3
7

**48-Write a Python program to unpack a tuple into several variables

In [44]:
tp=("mohamed","Ai",95,86,100)
(name,faculty,*grades)=tp
print(name)
print(faculty)
print(grades)

mohamed
Ai
[95, 86, 100]

**49-Write a Python program to add an item to a tuple

In [ ]:
tp=(5,3,6,8,1)
num=int(input("enter number you want to add to tuple"))
tp=list(tp)
tp.append(num)
tp=tuple(tp)
print(tp)

enter number you want to add to tuple9
(5, 3, 6, 8, 1, 9)

**50-Write a Python program to convert a tuple to a string

In [ ]:
tp=("a","b","c")
mystr="".join(tp)
print(mystr)
print(type(mystr))

abc
<class 'str'>

**51-Write a Python program to convert a list to a tuple

In [ ]:
lst=[8,6,3,89,2]
tp=tuple(lst)
print(type(tp))

<class 'tuple'>

**52-Write a Python program to reverse a tuple

In [ ]:
tp=(5,2,4,1)
tp=tp[::-1]
print(tp)

(1, 4, 2, 5)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [ ]:
lst=[(10, 20, 40), (40, 50, 60)]
num=int(input("enter number you want change in last number: "))
for i in range(len(lst)):
  lst[i]=list(lst[i])
for i in range(len(lst)):
  lst[i][-1]=num

for i in range(len(lst)):
  lst[i]=tuple(lst[i])
print(lst)

enter number you want change in last number: 99
[(10, 20, 99), (40, 50, 99)]

\**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [ ]:
mystr="python 3.0"
mystr=tuple(mystr)
print(mystr)
print(type(tp))

('p', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '0')
<class 'tuple'>

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [ ]:
import statistics
tp=((25,15),(12,10,56),(24,12,9,41))
for i in tp:
  print(f"the average of tuple {i} is :",statistics.mean(i))

the average of tuple (25, 15) is : 20
the average of tuple (12, 10, 56) is : 26
the average of tuple (24, 12, 9, 41) is : 21.5

**56-Write a Python program to add member(s) to a set.

In [ ]:
st={5,2,6,8,1,0}
st.add(9)
print(st)

{0, 1, 2, 5, 6, 8, 9}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [ ]:
st={5,2,6,8,1,0}
st.discard(6)
st.discard(9)
print(st)

{0, 1, 2, 5, 8}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [ ]:
set1={1,2,3,4}
set2={1,3,5,6,7,8}
print("union: ",set1|set2)
print("intersection: ",set1.intersection(set2))
print("symmetric: ",set1 ^ set2)

union:  {1, 2, 3, 4, 5, 6, 7, 8}
intersection:  {1, 3}
symmetric:  {2, 4, 5, 6, 7, 8}

**59-Write a Python program to find the maximum and minimum values in a set

In [ ]:
st={3,5,88,34,12,99}
print("max: ",max(st))
print("min: ",min(st))

max:  99
min:  3

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [ ]:
lst=[7,5,1,8,9,3,6,4]
lst2=[]
num=int(input("enter number: "))
for i in range(int(len(lst))):
  for j in range(len(lst)):
    if i !=j:
      if lst[i]+lst[j] == num:
        print(lst[i],lst[j])

enter number: 10
7 3
1 9
9 1
3 7
6 4
4 6