### 1-Write a Python program that takes two numbers as user input and performs addition on them.

In [ ]:
num1=int(input("enter number :"))
num2=int(input("enter the second number :"))
print(f"{num1} + {num2} = " ,num1+num2)

enter number :9
enter the second number :7
9 + 7 =  16

### 2-Write a Python program that takes an integer as input and checks if it is even or odd. Print "Even" if the number is divisible by 2, otherwise print "Odd".

In [ ]:
num=int(input("enter number : "))
if num % 2==0:
  print("Even")
else:
  print("Odd")

enter number : 10
Even

### 3-Write a Python program that prints all the even numbers from 1 to 20 using a for loop

In [ ]:
for num in range(1,21):
  if num % 2 == 0:
    print(num)

2
4
6
8
10
12
14
16
18
20

### 4-Write a Python function that takes a string as input and counts the number of vowels (a, e, i, o, u) in the string. The function should return the count

In [ ]:
def vowels_count(word):
  word_lower=word.lower()
  count=0
  for ch in word_lower:
    if ch =="a" or ch== "e" or ch=="i"or ch=="o" or ch=="u":
      count+=1
  return count

In [ ]:
print(vowels_count("Ahmed"))

2

In [ ]:
print(vowels_count("mOhamed"))

3

### 5-Write a Python program that creates a list of numbers from 1 to 10. Use a loop to iterate over the list and print each number of power 2.

In [ ]:
lst=[1,2,3,4,5,6,7,8,9,10]
for i in range(10):
  print(lst[i]**2)

1
4
9
16
25
36
49
64
81
100

### 6-Write a Python program that calculates the average grade for a student based on their scores in different subjects. The program should include the following steps:

#### 1-Create variables to store the student's name, subject names, and corresponding scores. Initialize the variables with sample data.

#### 2-Prompt the user to enter the student's name and assign it to the name variable.

#### 3-Use a loop to prompt the user to enter the subject names and corresponding scores. Store the subject names in a list and the scores in another list.

#### 4-After collecting the scores, calculate the average grade by summing up all the scores and dividing by the total number of subjects.

#### 5-Check if the average grade is above a 70, print a congratulatory message. Otherwise, print an encouragement message.

In [ ]:
class Student:
  def __init__(self):
    self.name=""
    self.subject_name=[]
    self.subject_score=[]
  def setName(self,name):
    self.name=name
  def setSubjectName(self,subject_name):
    self.subject_name.append(subject_name)
  def setSubjectScore(self,subject_score):
    self.subject_score.append(subject_score)
  def average_grade(self):
     return sum(self.subject_score)/len(self.subject_score)

In [ ]:

student=Student()
name=input("enter your name :")
student.setName(name)
for i in range(5):
  subject_name=input("enter subject name: ")
  student.setSubjectName(subject_name)
  subject_score=int(input("enter subject score: "))
  student.setSubjectScore(subject_score)
if(student.average_grade()>70):
  print(f"congratulations you work hard!!")
else:
  print(f"you will do better next time")

enter your name :mohamed
enter subject name: cs
enter subject score: 83
enter subject name: math1
enter subject score: 87
enter subject name: logic
enter subject score: 91
enter subject name: ecnomics
enter subject score: 86
enter subject name: ds
enter subject score: 71
congratulations you work hard!!

### 7-Find Common Elements
### Write a Python function that takes two lists as input and returns a new list containing the common elements present in both lists.

In [ ]:
def common_element(lst1,lst2):
  common=[]
  for i in range (len(lst1)):
    if lst1[i] in lst2:
      common.append(lst1[i])
  return common

In [ ]:
lst1=[1,2,4,5,6]
lst2=[4,5,10,12]
print(common_element(lst1,lst2))

[4, 5]

### 8-Write a Python function that takes a list of numbers and an element to remove from the list.

In [ ]:
def remove(lst,element):
  if element in lst:
    lst.remove(element)
  else :
    print("this element is not in the lst")

In [ ]:
lst=[10,20,30,90]
remove(lst,20)
print(lst)

[10, 30, 90]

In [ ]:
lst=[10,20,30,90]
remove(lst,100)
print(lst)

this element is not in the lst
[10, 20, 30, 90]

### 9-Given 4 numbers A, B, C and D. Print the last 2 digits from their Multiplication.
### Example :
### the Multiplication of 4 numbers is 5 * 7 * 2 * 4 = 280 so the answer will be the last 2 digits which are 80.

In [32]:
a=int(input("enter number: "))
b=int(input("enter number: "))
c=int(input("enter number: "))
d=int(input("enter number: "))
multiply=a*b*c*d
multiply=str(multiply)
print(multiply[-2:])

enter number: 6
enter number: 8
enter number: 2
enter number: 5
80

38### 10- Given a number X. Determine if the number is prime or not

In [ ]:
x=int(input("enter number: "))
for i in range (2,int(x**(1/2))):
  if(x % i == 0):
    print("not prime")
    break
  elif (i == int(x**(1/2)-1)):
    print("prime")

enter number: 11
prime

### 11- Given a number N and a list A of N numbers. Determine if the number X exists in array A or not and print its position (0-index).

In [ ]:
n=int(input("enter the size of array: "))
lst=[]
for i in range(n):
  num=int(input("enter number: "))
  lst.append(num)
x=int(input("enter the number you want to check : "))
if x in lst:
  print (f"the number is exist in the list in index {lst.index(x)}")
else:
  print(f"the number is not in the lst")

enter the size of array: 5
enter number: 4
enter number: 7
enter number: 1
enter number: 9
enter number: 3
enter the number you want to check : 1
the number is exist in the list in index 2

### 12- Given a number N and a list A of N numbers. Determine if the array is lucky or not.

#### Note: the array is lucky if the frequency (number of occurrence) of the minimum element is odd.

In [34]:
n=int(input("enter size of array: "))
lst=[]
for i in range(n):
  num=int(input("enter number :"))
  lst.append(num)
minimum_val=lst[0]
for i in lst:
  if (i<min):
    min=i
lucky=0
for i in lst:
  if i == minimum_val:
    lucky+=1
if lucky%2!=0:
  print("its lucky array")
else:
  print("its not lucky array")

enter size of array: 5
enter number :3
enter number :7
enter number :8
enter number :3
enter number :3
its lucky array

### 13-Given a number N and a list A of N numbers. Print the array after doing the following operations:

#### Find minimum number in these numbers.
#### Find maximum number in these numbers.
##### Swap minimum number with maximum number.

In [ ]:
n=int(input("enter the size of list"))
lst=[]
for i in range (n):
  n2=int(input("enter number: "))
  lst.append(n2)
min =lst[0]
max=lst[0]
min_ind =0
max_ind=0
for i in range(n):
  if(min>lst[i]):
    min=lst[i]
    min_ind=i
  elif(max<lst[i]):
    max=lst[i]
    max_ind=i
print("the max in the list is :",max)
print("the max in the list is :",min)
lst[min_ind]=max
lst[max_ind]=min
print("lst after swap max and minimum: ",lst)

enter the size of list5
enter number: 8
enter number: 1
enter number: 4
enter number: 9
enter number: 3
the max in the list is : 9
the max in the list is : 1
lst after swap max and minimum:  [8, 9, 4, 1, 3]

### 14-Given a number N and an array A of N numbers. Print the lowest number and its position.

### Note: if there are more than one answer print first one's position.

In [ ]:
lst=[5,1,8,20,1,3]
min =lst[0]
for i in range(len(lst)):
  if(min>lst[i]):
    min=lst[i]
    index=i
print(f"the min number is {min}")
print(f"its in index number {index}")

the min number is 1
its in index number 1

### 15-Given a number N and an array A of N numbers. Print the numbers after sorting them

In [ ]:
n=int(input("enter size of array: "))
lst=[]
for i in range(n):
  num=int(input("enter number: "))
  lst.append(num)
lst.sort()
lst

enter size of array: 6
enter number: 20
enter number: 15
enter number: 7
enter number: 33
enter number: 37
enter number: 25

[7, 15, 20, 25, 33, 37]

### 16- Write a Python program to remove spaces from a given string

In [ ]:
string =("m o ha me        d")
string.replace(" ","")

'mohamed'

### 17-write a Python program to swap first and last element of any list.

In [ ]:
lst=[3,None,"mohamed",8,"c"]
lst[0],lst[-1]=lst[-1],lst[0]
print(lst[0],lst[-1])

c 3

# **Write a Python Program to Find HCF.**
## Highest Common Factor(HCF): HCF, or Highest Common Factor, is the largest positive integer that divides two or more numbers without leaving a remainder. Formula: For two numbers a and b, the HCF can be found using the formula:

** HCF(𝑎, 𝑏) = GCD(𝑎, 𝑏)**
For more than two numbers, you can find the HCF by taking the GCD of pairs of numbers at a time until you reach the last pair.

# **Note: GCD stands for Greatest Common Divisor, use function.**

In [40]:
def GCD(a,b):
  if a>b:
    for i in range(2,a):
      if a %i==0 and b%i==0:
        gcd=i
    return gcd
  else :
    for i in range(2,b):
      if a %i==0 and b%i==0:
        gcd=i
    return gcd

In [42]:
GCD(20,15)

5