## **1- Write a Python program to find the area of a triangle**

In [1]:
base=int(input("Enter the base of the triangle:"))
height=int(input("Enter the height of the triangle:"))
area=1/2*base*height
print(f"The area of the triangle is:{area}")

Enter the base of the triangle:6
Enter the height of the triangle:3
The area of the triangle is:9.0

# **2- Write a Python program to swap two variables.**

In [3]:
num_1=10
num_2=30
num_1,num_2=num_2,num_1
print("the number in num_1 is:",num_1)
print("the number in num_2 is:",num_2)

the number in num_1 is: 30
the number in num_2 is: 10

# **3-Write a Python program to enter a number from user and convert this number from kilometers to miles.**

In [4]:
km=int(input("enter the number of kilos :"))
miles=km*0.621371
print(f"{km} km is {miles} mile")

enter the number of kilos :10
10 km is 6.21371 mile